@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Bungee+Spice&family=Libertinus+Keyboard&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Libertinus+Keyboard&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Bungee+Spice&family=Libertinus+Keyboard&family=Metal+Mania&display=swap");
.hero-about {
  font-family: var(--font-family-Poppins);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 350px;
  gap: 250px;
  margin-top: 150px;
  & h1 {
    font-size: 50px;
    & .hello {
      font-family: "Libertinus Keyboard", system-ui;
    }
    & .f {
      color: blueviolet;
      text-decoration: underline;
    }
    & .i {
      color: #5badff;
      text-decoration: underline;
    }
    & .n {
      color: #ff6a3d;
      text-decoration: underline;
    }
    & .d {
      color: #ffb800;
      text-decoration: underline;
    }
    & .e {
      color: #00c9a7;
      text-decoration: underline;
    }
    & .r {
      color: #ff3d71;
      text-decoration: underline;
    }
    & .s {
      color: #ff6a3d;
      text-decoration: underline;
    }
  }
  & img {
    width: 100%;
    border: 2px solid #E36DFF;
    border-radius: 50%;
    animation: image-aniamtion 2s ease-in-out;
  }
}
/* image animation */
@keyframes image-aniamtion {
  from{
    filter: blur(5px);
    opacity: 0%;
  }
  to{
    filter: blur(0px);
    opacity: 100%;
  }

}
/* image animation */
.about-me {
  margin-top: 100px;
  color: #fff;
  & h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Libertinus Keyboard", system-ui;
    & .a {
      color: #ff3d71;
    }
    & .b {
      color: #5badff;
    }
    & .o {
      color: darkblue;
    }
    & .u {
      color: #ff6a3d;
    }
    & .t {
      color: cyan;
    }
    & .me {
      color: #ff0f0f;
    }
  }
  & .main-contant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 350px;
    & .a-text {
      & h2 {
        font-family: "Bungee Spice", sans-serif;
        font-size: 50px;
        margin-bottom: 50px;
      }
      & p {
        font-family: "Metal Mania", system-ui;
        font-size: 20px;
      }
    }
  }
}
.about-my-programming-l {
  color: #fff;
  padding: 0 290px;
  & h1 {
    text-align: center;
    font-family: var(--font-family-Poppins);
    color: #5badff;
  }

  & .write {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    & p {
      text-align: center;
      font-size: 20px;
      font-family: var(--font-family-Manrope);
    }
    & h2 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 50px;
      font-family: "Courier New", Courier, monospace;
      text-decoration: underline;
    }
  }
}
