header {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/project-bg.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  & .text {
    padding-top: 250px;
  }
  & h1 {
    font-size: 50px;
    font-family: var(--font-family-Poppins);
    color: #7bff00;
    &.h1 {
      font-weight: 900;
      color: #d60084;
    }
  }
  & p {
    font-size: 20px;
    font-family: var(--font-family-Manrope);
    font-size: 600;
    color: #00c3ff;
    margin-bottom: 50px;
  }
  & .text {
    & a {
      color: #fff;
      text-decoration: none;
      padding: 20px 30px;
      border: 2px solid #fff;
    }
  }
}
body {
  color: #fff;
}
.project-card {
  & .head-line {
    text-align: center;
    font-size: 40px;
    font-family: var(--font-family-Poppins);
    font-weight: 800;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #ff82ff, #ff0fff, #ff0f0f, #460017);
    border-image-slice: 1%;
    margin: 0 700px;
    margin-bottom: 20px;
    margin-top: 100px;
    padding-bottom: 20px;
  }
  & .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 50px;
    padding: 50px;
    & .card {
      padding: 30px;
      background: #3a3a3a;
      border-radius: 20px;
    }
    & a {
      color: #fff;
      text-decoration: none;
      font-family: var(--font-family-Manrope);
    }
    & .card img {
      width: 100%;
    }
  }
}
